aiohttp==3.8.4
asyncio==3.4.3
async-lru==2.0.2
discord.py==2.2.2
fake-useragent==1.1.1
Flask==2.2.3
Pillow==9.4.0
psycopg==3.1.8
pyngrok==5.2.1
python-dateutil==2.8.2
python-dotenv==1.0.0
tweepy==4.13.0
twitchAPI==3.9.0
validators==0.20.0